body{
    background-color: rgb(21, 23, 51);
    color: rgb(227, 228, 249);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-direction: column;
}
.box{
    width: 130px;
    height: 130px;
    background-color: aliceblue;
    margin: 5vh;
    animation: color-change 5s infinite;
}
@keyframes color-change{
    0% {background-color:rgb(227, 228, 249);}
    25% {background-color:rgb(105, 155, 208);}
    50% {background-color:rgb(47, 240, 224);}
    75% {background-color:rgb(147, 47, 240);}
    100% {background-color:rgb(236, 106, 206);}
}